
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, td {
  font-family: 'Helvetica', 'Arial', sans-serif !important;
}

.header-logo, .header-text {
  float: left;
}

.header {
  line-height: normal;
  margin: 10px;
  height: 139px;

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  a, a:visited, a:hover {
    text-decoration: none;
    color: #3b4c53;
    background-color: #fff;
  }
}

h1, h2, h3, p{
  margin: 0;
  line-height: normal;
}

.categories {
  margin-left: 10px;
  padding: 30px 0;
  font-size: 30px;
}


.search-panel {
  line-height: 100px;
  background-color: #cdcdcd;
  padding: 10px;
  height: 75px;
  margin: 10px;
}

.search {
  background-color: white;
  padding: 5px;
  height: 65px;
}

.search-form {
  height: 100%;
}

.search-field {
  width: 80%;
  height: 100%;
  float: left;
  font-size: 30px;
  margin-right: 10px;
  /*border: 2px solid black;*/
  border: none;
  padding: 15px 10px;
}

input[type="submit"] {
  padding: 15px 0px;
  background-color: #3b4c53;
  color: white;
  font-size: 30px;
  width: 15%;
  border: none;
  float: right;
}

table {
  width: 100%;
  /*padding-top: 30px;*/
}

td {
  line-height: 90px;
}

th{
  text-align: left;
  padding-bottom: 40px;
}

th.th-name {
  width: 70%;
}


p, th, td {
  font-size: 45px;
  /*line-height: normal;*/
}

td.grid:hover, td.grid:active {
  background-color: #000;
}

.category-text{
  color: #fff;
  text-decoration: none;
}

td.grid {
  padding: 0px 20px;
  float: left;
  background-color: #3ecdfc;
  margin: 10px;
}

.grid a:visited {
  color: white;
}

.table-body {
  margin-left: 10px;
}

.breadcrumb {
  ul {
    padding-left: 0;
    margin: 0;
    padding: 30px 0;
    height: 36px;
  }

  ul li {
    display: inline;
    padding: 0;
    font-size: 30px;
    color: #3b4c53;
  }

  a, a:visited, a:hover {
    text-decoration: none;
    color: #cdcdcd;
    background-color: #fff;
  }
}



