-#%p.categories Product Categories
.table-body
  .breadcrumb
    %ul
      %li Product Category
%table
  %tbody
    - @categories.each do |category|
      %td.grid= link_to category.name, category, class: "category-text"
